body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(226, 4, 160);
}
.form-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 400px;
  width: 600px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.design-1 {
  position: absolute;
  height: 500px;
  width: 150px;
  background-color: pink;
  border-radius: 100px;
  transform: rotate(-55deg);
  left: 550px;
  bottom: -200px;
  box-shadow: inset 20px -20px 60px pink, inset -20px 20px 60px rgb(226, 4, 160);
  border: 2px solid rgb(209, 53, 79);
}

.design-1a {
  position: absolute;
  height: 450px;
  width: 130px;
  background-color:  rgb(209, 53, 79);
  border-radius: 100px;
  left: 10px;
  bottom: 35px;
}

.design-mini-1 {
  position: absolute;
  height: 500px;
  width: 70px;
  background-color: rgb(209, 53, 79);
  border-radius: 100px;
  transform: rotate(-55deg);
  left: 550px;
  bottom: -330px;
  border: 2px solid rgb(209, 53, 79);
  box-shadow: inset 20px -20px 60px pink, inset -20px 20px 60px rgb(226, 4, 160);
}

.design-mini-1a {
  position: absolute;
  height: 450px;
  width: 50px;
  background-color:  rgb(209, 53, 79);
  border-radius: 100px;
  left: 10px;
  bottom: 38px;
}

.design-mini-2 {
  position: absolute;
  height: 500px;
  width: 70px;
  background-color: pink;
  border-radius: 100px;
  transform: rotate(-55deg);
  left: 700px;
  bottom: -120px;
  border: 2px solid rgb(209, 53, 79);
  box-shadow: inset 20px -20px 60px pink, inset -20px 20px 60px rgb(226, 4, 160);
}

.design-mini-2a {
  position: absolute;
  height: 450px;
  width: 50px;
  background-color:  rgb(209, 53, 79);
  border-radius: 100px;
  left: 10px;
  bottom: 38px;
}

.form-box{
  position: absolute;
  height: 300px;
  width: 250px;
  margin: auto;
  top: 0;
  left: -300px;
  right: 0;
  bottom: 0;
  transition: all 1s;
  z-index: 10;
}

form input{
  height: 40px;
  width: 280px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-top: 10px;
  padding-left: 5px;
  background-color: #cecece;
  color: rgb(209, 53, 79 );
}

form button{
  height: 40px;
  width: 280px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 20px;
  background-color: rgb(209, 53, 79);
  font-size: 1em;
  font-weight: 500;
  color: white;
  transition: all 1.5s;
}

form h1{
  color: #000;
  font-size: 1.5em;
  text-align: center;
}

form p{
  color: grey;
  font-size: 0.8em;
  text-align: center;
}

.form-box-empty{
  position: absolute;
  background-color: rgb(209, 53, 79 );
  opacity: 1;
  height: 300px;
  width: 250px;
  margin: auto;
  top: 0;
  left: -900px;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  transition: all 1s;
  transform: scale(0);
}

.form-box-empty a{
  position: absolute;
  display: block;
  left: -55px;
  top: 15px;
  text-decoration: none;
  height: 25px;
  width: 200px;
  background-color: white;
  color: rgb(209, 53, 79 );
  text-align: center;
  transform: rotate(-25deg);
  font-size: 1.2em;
}

.form-box-empty button{
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  color: rgb(209, 53, 79 );
  font-size: 1em;
  background-color: white;
  transition: all 1s;
  text-align: center;
  overflow: hidden;
}

.p1{
  transition: all 1s;
}

.form-box-empty button:hover > .p1{
  transition: all 1s;
  margin-top:-25px ;
}

.form-container:hover > .form-box{
  transition: all 1s;
  left:250px;
}

.form-container:hover > .form-box-empty{
  transition: all 1s;
  left: -300px;
  transform: scale(1);
  opacity:1;
}

.form-container:hover form button{
  transition: all 1s ;
  border: 3px solid #fff;
}